.container {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
}

.logo {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.title {
    align-items: center;
    display: flex;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .footer {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }
    .footerColumn {
        width: 100%;
    }
}
