.table td:first-child {
    min-width: 250px;
}

.table td:not(:first-child),
.table th {
    text-align: end;
    min-width: 150px;
}

.table {
    white-space: wrap;
    color: #858383;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0 16px;
}
.stickyTd {
    position: sticky;
    left: 0;
    z-index: 3;
}

.mainRow {
    font-weight: bold;
    text-transform: uppercase;
    color: #858383;
}

.container {
    min-height: 90vh;
    padding: 1rem 4rem;
    margin: 0;
    flex-direction: column;
}
